{minimum_otp_vsn, "24.0"}.
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {cowboy, "2.9.0"},
    {ranch, "1.8.0"},
    {cowlib, "2.11.0"}
]}.

{shell, [
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {apps, [ioc2rpz]}
]}.

{relx, [
    {release, {ioc2rpz, "1.2.0.5"}, [
        kernel, stdlib, sasl, inets, crypto, public_key, ssl, mnesia, ioc2rpz
    ]},

    {dev_mode, true},
    {include_erts, false},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},

    {extended_start_script, true},

    {overlay, [
        {copy, "config/sys.config", "releases/1.2.0.5/sys.config"},
        {copy, "config/vm.args", "releases/1.2.0.5/vm.args"}
    ]}
]}.
